.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
  padding: 10px 0; }

.boxes {
  width: 180px;
  height: 120px;
  background: white;
  margin: 20px 0;
  overflow: hidden;
  border: 1px solid #efefef;
  transition: .5s ease-in; }

.boxes:hover {
  transform: scale(1.5); }

.USA {
  background: linear-gradient(to top, #BF0A30 calc(100%/13), #FFFFFF calc(100%/13), #FFFFFF calc(100%/13*2), #BF0A30 calc(100%/13*2), #BF0A30 calc(100%/13*3), #FFFFFF calc(100%/13*3), #FFFFFF calc(100%/13*4), #BF0A30 calc(100%/13*4), #BF0A30 calc(100%/13*5), #FFFFFF calc(100%/13*5), #FFFFFF calc(100%/13*6), #BF0A30 calc(100%/13*6), #BF0A30 calc(100%/13*7), #FFFFFF calc(100%/13*7), #FFFFFF calc(100%/13*8), #BF0A30 calc(100%/13*8), #BF0A30 calc(100%/13*9), #FFFFFF calc(100%/13*9), #FFFFFF calc(100%/13*10), #BF0A30 calc(100%/13*10), #BF0A30 calc(100%/13*11), #FFFFFF calc(100%/13*11), #FFFFFF calc(100%/13*12), #BF0A30 calc(100%/13*12), #BF0A30 calc(100%/13*13), #FFFFFF calc(100%/13*13));
  position: relative; }
  .USA .blue-box {
    position: absolute;
    height: 53.85%;
    width: 40%;
    background: #002868; }
    .USA .blue-box .row-1 {
      position: absolute;
      width: 83.422%;
      height: 10%;
      left: 8.289%;
      top: 9.2%; }
      .USA .blue-box .row-1 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-1 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 18%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-1 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 36%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-1 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 54%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-1 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 72%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-1 .star-5 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 90%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-2 {
      position: absolute;
      width: 66.8422%;
      height: 10%;
      left: 16.5789%;
      top: 18.4%; }
      .USA .blue-box .row-2 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-2 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 22%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-2 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 44%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-2 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 66%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-2 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 88%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-3 {
      position: absolute;
      width: 83.422%;
      height: 10%;
      left: 8.289%;
      top: 27.6%; }
      .USA .blue-box .row-3 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-3 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 18%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-3 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 36%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-3 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 54%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-3 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 72%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-3 .star-5 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 90%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-4 {
      position: absolute;
      width: 66.8422%;
      height: 10%;
      left: 16.5789%;
      top: 36.8%; }
      .USA .blue-box .row-4 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-4 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 22%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-4 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 44%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-4 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 66%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-4 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 88%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-5 {
      position: absolute;
      width: 83.422%;
      height: 10%;
      left: 8.289%;
      top: 46%; }
      .USA .blue-box .row-5 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-5 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 18%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-5 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 36%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-5 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 54%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-5 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 72%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-5 .star-5 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 90%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-6 {
      position: absolute;
      width: 66.8422%;
      height: 10%;
      left: 16.5789%;
      top: 55.2%; }
      .USA .blue-box .row-6 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-6 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 22%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-6 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 44%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-6 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 66%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-6 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 88%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-7 {
      position: absolute;
      width: 83.422%;
      height: 10%;
      left: 8.289%;
      top: 64.4%; }
      .USA .blue-box .row-7 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-7 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 18%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-7 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 36%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-7 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 54%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-7 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 72%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-7 .star-5 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 90%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-8 {
      position: absolute;
      width: 66.8422%;
      height: 10%;
      left: 16.5789%;
      top: 73.6%; }
      .USA .blue-box .row-8 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-8 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 22%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-8 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 44%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-8 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 66%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-8 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 88%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .USA .blue-box .row-9 {
      position: absolute;
      width: 83.422%;
      height: 10%;
      left: 8.289%;
      top: 82.8%; }
      .USA .blue-box .row-9 .star-0 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-9 .star-1 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 18%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-9 .star-2 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 36%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-9 .star-3 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 54%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-9 .star-4 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 72%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
      .USA .blue-box .row-9 .star-5 {
        position: absolute;
        width: 10%;
        height: 100%;
        left: 90%;
        background: #FFFFFF;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.Alabama {
  background: linear-gradient(33deg, transparent 45%, #B10021 45%, #B10021 55%, transparent 55%), linear-gradient(147deg, #FFFFFF 45%, #B10021 45%, #B10021 55%, #FFFFFF 55%);
  position: relative; }

.Alaska {
  position: relative;
  background: #061A4A; }
  .Alaska .star-1 {
    position: absolute;
    top: 32.5833%;
    left: 15.895%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-2 {
    position: absolute;
    top: 39.2963%;
    left: 27.9321%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-3 {
    position: absolute;
    top: 48.0926%;
    left: 33.3333%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-4 {
    position: absolute;
    top: 58.0463%;
    left: 39.8148%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-5 {
    position: absolute;
    top: 72.3981%;
    left: 38.7346%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-6 {
    position: absolute;
    top: 79.4167%;
    left: 52.4691%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-7 {
    position: absolute;
    top: 67.8425%;
    left: 57.4074%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Alaska .star-8 {
    position: absolute;
    top: 9.8981%;
    left: 81.3272%;
    right: none;
    bottom: none;
    width: 25px;
    height: 25px;
    background: #FFB709;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.Arkansas {
  position: relative;
  background: linear-gradient(33.65deg, #B20931 29.0811%, transparent 29.0811%), linear-gradient(146.35deg, #B20931 29.0811%, transparent 29.0811%), linear-gradient(213.65deg, #B20931 29.0811%, transparent 29.0811%), linear-gradient(326.35deg, #B20931 29.0811%, transparent 29.0811%), linear-gradient(33.65deg, #003366 34.1009%, transparent 34.1009%), linear-gradient(146.35deg, #003366 34.1009%, transparent 34.1009%), linear-gradient(213.65deg, #003366 34.1009%, transparent 34.1009%), linear-gradient(326.35deg, #003366 34.1009%, transparent 34.1009%), #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #003366;
  line-height: 110px;
  font-size: 12px; }
  .Arkansas .star-1 {
    position: absolute;
    top: 25%;
    left: 46%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #003366;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .star-2 {
    position: absolute;
    top: 55%;
    left: 37%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #003366;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .star-3 {
    position: absolute;
    top: 55%;
    left: none;
    right: 37%;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #003366;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .star-4 {
    position: absolute;
    top: 60%;
    left: 46%;
    right: none;
    bottom: none;
    width: 15px;
    height: 15px;
    background: #003366;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: rotate(180deg); }
  .Arkansas .sstar-0 {
    position: absolute;
    top: 10.5%;
    left: 48%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-0 {
    position: absolute;
    top: 10.5%;
    left: none;
    right: 48%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-0 {
    transform: rotate(180deg);
    position: absolute;
    top: none;
    left: none;
    right: 48%;
    bottom: 10.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-0 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 48%;
    right: none;
    bottom: 10.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-1 {
    transform: rotate(-20deg);
    position: absolute;
    top: 16.5%;
    left: 54%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-1 {
    transform: rotate(20deg);
    position: absolute;
    top: 16.5%;
    left: none;
    right: 54%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-1 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 54%;
    bottom: 16.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-1 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 54%;
    right: none;
    bottom: 16.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-2 {
    transform: rotate(-20deg);
    position: absolute;
    top: 22.5%;
    left: 60%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-2 {
    transform: rotate(20deg);
    position: absolute;
    top: 22.5%;
    left: none;
    right: 60%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-2 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 60%;
    bottom: 22.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-2 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 60%;
    right: none;
    bottom: 22.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-3 {
    transform: rotate(-20deg);
    position: absolute;
    top: 28.5%;
    left: 66%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-3 {
    transform: rotate(20deg);
    position: absolute;
    top: 28.5%;
    left: none;
    right: 66%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-3 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 66%;
    bottom: 28.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-3 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 66%;
    right: none;
    bottom: 28.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-4 {
    transform: rotate(-20deg);
    position: absolute;
    top: 34.5%;
    left: 72%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-4 {
    transform: rotate(20deg);
    position: absolute;
    top: 34.5%;
    left: none;
    right: 72%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-4 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 72%;
    bottom: 34.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-4 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 72%;
    right: none;
    bottom: 34.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-5 {
    transform: rotate(-20deg);
    position: absolute;
    top: 40.5%;
    left: 78%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-5 {
    transform: rotate(20deg);
    position: absolute;
    top: 40.5%;
    left: none;
    right: 78%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-5 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 78%;
    bottom: 40.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-5 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 78%;
    right: none;
    bottom: 40.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .sstar-6 {
    transform: rotate(-45deg);
    position: absolute;
    top: 46.5%;
    left: 84%;
    right: none;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .rstar-6 {
    transform: rotate(45deg);
    position: absolute;
    top: 46.5%;
    left: none;
    right: 84%;
    bottom: none;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .llstar-6 {
    transform: rotate(205deg);
    position: absolute;
    top: none;
    left: none;
    right: 84%;
    bottom: 46.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
  .Arkansas .lrstar-6 {
    transform: rotate(165deg);
    position: absolute;
    top: none;
    left: 84%;
    right: none;
    bottom: 46.5%;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.Arkansas::after {
  content: "ARKANSAS"; }

.California {
  position: relative;
  background: linear-gradient(to top, #B71234 calc(100%/6), #FFFFFF calc(100%/6));
  font-family: "Droid sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #584528;
  line-height: 170px;
  text-align: center; }
  .California .star {
    position: absolute;
    top: calc(100%/5);
    left: calc(100%/6);
    right: none;
    bottom: none;
    width: 18px;
    height: 18px;
    background: #B71234;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }

.California::after {
  content: "CALIFORNIA REPUBLIC"; }

.Colorado {
  position: relative;
  background: radial-gradient(circle at 75.87px 60px, #F7D146 calc(100%/6), transparent calc(100%/6)), radial-gradient(circle at 115px 60px, #FFFFFF calc(100%/6.6), transparent calc(100%/6.6)), radial-gradient(circle at 110px 60px, #FFFFFF calc(100%/7), transparent calc(100%/7)), radial-gradient(circle at 105px 60px, #FFFFFF calc(100%/7.4), transparent calc(100%/7.4)), radial-gradient(circle at 100px 60px, #FFFFFF calc(100%/7.8), transparent calc(100%/7.8)), radial-gradient(circle at 95px 60px, #FFFFFF calc(100%/8.3), transparent calc(100%/8.3)), radial-gradient(circle at 75.87px 60px, #C02831 calc(100%/3), transparent calc(100%/3)), linear-gradient(to top, #072A83 calc(100%/3), #FFFFFF calc(100%/3), #FFFFFF calc(100%/3*2), #072A83 calc(100%/3*2)); }

.Connecticut {
  position: relative;
  background: #0D2D84; }

.Delaware {
  position: relative;
  background: linear-gradient(33.65deg, #77A3A1 35%, transparent 35%), linear-gradient(146.35deg, #77A3A1 35%, transparent 35%), linear-gradient(213.65deg, #77A3A1 35%, transparent 35%), linear-gradient(326.35deg, #77A3A1 35%, transparent 35%), linear-gradient(33.65deg, #F0DD83 34.1009%, #F0DD83 34.1009%), linear-gradient(146.35deg, #F0DD83 34.1009%, #F0DD83 34.1009%), linear-gradient(213.65deg, #F0DD83 34.1009%, #F0DD83 34.1009%), linear-gradient(326.35deg, #F0DD83 34.1009%, #F0DD83 34.1009%);
  text-align: center;
  font-family: serif;
  font-weight: bold;
  line-height: 215px;
  color: #FFFFFF;
  font-size: 8px; }

.Delaware::before {
  content: "DECEMBER 7, 1787"; }

.Florida {
  position: relative;
  background: radial-gradient(circle at 90px 60px, #FFBA00 calc(100%/4), transparent calc(100%/4)), radial-gradient(circle at 90px 60px, #B10021 calc(100%/3.1), transparent calc(100%/3.1)), radial-gradient(circle at 90px 60px, #FFBA00 calc(100%/3), transparent calc(100%/3)), linear-gradient(33deg, transparent 45%, #B10021 45%, #B10021 55%, transparent 55%), linear-gradient(147deg, #FFFFFF 45%, #B10021 45%, #B10021 55%, #FFFFFF 55%); }

.Georgia {
  position: relative;
  background: linear-gradient(to top, #B70022 calc(100%/3), white calc(100%/3), white calc(100%/3*2), #B70022 calc(100%/3*2)); }

.Georgia::after {
  position: absolute;
  content: "IN GOD WE TRUST";
  box-sizing: border-box;
  color: gold;
  font-size: 4px;
  text-align: center;
  line-height: 80px;
  background: #0039A6;
  height: 80px;
  width: 70px;
  left: 0;
  padding-top: 16px; }

.Hawaii {
  position: relative;
  background: repeating-linear-gradient(to top, #D00C27, #D00C27 calc(120px/8), white calc(120px/8), white calc(120px/8*2), #001F7E calc(120px/8*2), #001F7E calc(120px/8*3), #D00C27 calc(120px/8*3)); }

.Hawaii::before {
  position: absolute;
  content: "";
  width: 44%;
  height: 50%;
  background: linear-gradient(to right, transparent 45%, #D00C27 45%, #D00C27 55%, transparent 55%), linear-gradient(to bottom, transparent 43%, #D00C27 43%, #D00C27 57%, transparent 57%), linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 60%), linear-gradient(to bottom, transparent 38%, white 38%, white 62%, transparent 62%), linear-gradient(37deg, transparent 47%, #D00C27 47%, #D00C27 50%, transparent 50%), linear-gradient(144deg, transparent 47%, #D00C27 47%, #D00C27 50%, transparent 50%), linear-gradient(37deg, transparent 45%, white 45%, white 55%, transparent 55%), linear-gradient(144deg, transparent 45%, white 45%, white 55%, transparent 55%), #001F7E; }

/*# sourceMappingURL=style.css.map */
