$alaska-star: #FFB709;

@mixin div-data($top, $left, $width, $height, $back) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background: $back;
}

@mixin star {
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
  padding: 10px 0;
}

.boxes {
  width: 350px;
  height: 200px;
  background: white;
  margin: 20px 0;
}

.USA {
  background: linear-gradient(to top, #BF0A30 calc(100%/13), #FFFFFF calc(100%/13), #FFFFFF calc(100%/13*2), #BF0A30 calc(100%/13*2), #BF0A30 calc(100%/13*3), #FFFFFF calc(100%/13*3), #FFFFFF calc(100%/13*4), #BF0A30 calc(100%/13*4), #BF0A30 calc(100%/13*5), #FFFFFF calc(100%/13*5), #FFFFFF calc(100%/13*6), #BF0A30 calc(100%/13*6), #BF0A30 calc(100%/13*7), #FFFFFF calc(100%/13*7), #FFFFFF calc(100%/13*8), #BF0A30 calc(100%/13*8), #BF0A30 calc(100%/13*9), #FFFFFF calc(100%/13*9), #FFFFFF calc(100%/13*10), #BF0A30 calc(100%/13*10), #BF0A30 calc(100%/13*11), #FFFFFF calc(100%/13*11), #FFFFFF calc(100%/13*12), #BF0A30 calc(100%/13*12), #BF0A30 calc(100%/13*13), #FFFFFF calc(100%/13*13));
  position: relative;

  .blue-box {
    position: absolute;
    height: 53.85%;
    width: 40%;
    background: #002868;
    @for $j from 1 through 9 {
       @if $j % 2 == 0{
        .row-#{$j} {
          position: absolute;
          width: 66.8422%;
          height: 10%;
          left: 16.5789%;
          top: $j*9.2%;
          @for $i from 0 through 4 {
            .star-#{$i} {
              position: absolute;
              width: 10%;
              height: 100%;
              left: $i*22%;
              background: #FFFFFF;
              -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
              clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }
          }
        }
      }
      @else {
        .row-#{$j} {
          position: absolute;
          width: 83.422%;
          height: 10%;
          left: 8.289%;
          top: $j*9.2%;
          @for $i from 0 through 5 {
            .star-#{$i} {
              position: absolute;
              width: 10%;
              height: 100%;
              left: $i*18%;
              background: #FFFFFF;
              -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
              clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }
          }
        }
      }
    }
  }
}

.Alabama { //56.42
  background: linear-gradient(29deg, transparent 45%, #B10021 45%, #B10021 55%, transparent 55%), linear-gradient(151deg, #FFFFFF 45%, #B10021 45%, #B10021 55%, #FFFFFF 55%);
  position: relative;
}

.Alaska {
  position: relative;
  background: #061A4A;
  .star-1 {
    @include div-data(39.5833%, 15.8950%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-2 {
    @include div-data(46.2963%, 27.9321%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-3 {
    @include div-data(55.0926%, 33.3333%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-4 {
    @include div-data(65.0463%, 39.8148%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-5 {
    @include div-data(79.3981%, 38.7346%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-6 {
    @include div-data(85.4167%, 52.4691%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-7 {
    @include div-data(73.8425%, 57.4074%, 15px, 15px, $alaska-star);
    @include star;
  }
  .star-8 {
    @include div-data(16.8981%, 81.3272%, 25px, 25px, $alaska-star);
    @include star;
  }
}
