$alaska-star: #FFB709;
$arkansas-shiraz: #B20931;
$arkansas-midnight_blue: #003366;
$california-old_glory_red: #B71234;
$california-irish_green: #008542;
$california-maple_sugar: #BD8A5E;
$california-seal: #584528;
$colorado-gold: #F7D146;
$colorado-red: #C02831;
$colorado-blue: #072A83;
$connecticut-blue: #0D2D84;
$delaware-green: #77A3A1;
$delaware-yellow: #F0DD83;
$georgia-red: #B70022;
$georgia-blue: #002955;
$hawaii-red: #D00C27;
$hawaii-blue: #001F7E;
$newmexico-yellow: #FFD700;
$newmexico-red: #BF0A30;
$texas-dark_red: #BF0A30;
$texas-royal_blue: #002868;
@mixin div-data($top, $left, $width, $height, $back, $right: none, $bottom: none) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $width;
  height: $height;
  background: $back;
}
@mixin star {
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
@mixin flag($back) {
  position: relative;
  background: $back;
}

* {
  font-family: "Droid Sans", sans-serif;
}

body,
html {
  background: linear-gradient(45deg, #ECEBE4, #f7f5f6);
}

.info {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin-top: 50px;
  min-width: 550px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 300px;
  background: lightgrey;
  margin: auto auto 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  transition: box-shadow .5s;
  transition: transform .5s;
  border-radius: 5px;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.boxes {
  display: inline-block;
  width: 180px;
  height: 120px;
  background: white;
  margin: auto;
  overflow: hidden;
  border: 1px solid #efefef;
  transition: 0.1s linear;
}

.USA {
  background: linear-gradient(to top, #BF0A30 calc(100%/13), #FFFFFF calc(100%/13), #FFFFFF calc(100%/13*2), #BF0A30 calc(100%/13*2), #BF0A30 calc(100%/13*3), #FFFFFF calc(100%/13*3), #FFFFFF calc(100%/13*4), #BF0A30 calc(100%/13*4), #BF0A30 calc(100%/13*5), #FFFFFF calc(100%/13*5), #FFFFFF calc(100%/13*6), #BF0A30 calc(100%/13*6), #BF0A30 calc(100%/13*7), #FFFFFF calc(100%/13*7), #FFFFFF calc(100%/13*8), #BF0A30 calc(100%/13*8), #BF0A30 calc(100%/13*9), #FFFFFF calc(100%/13*9), #FFFFFF calc(100%/13*10), #BF0A30 calc(100%/13*10), #BF0A30 calc(100%/13*11), #FFFFFF calc(100%/13*11), #FFFFFF calc(100%/13*12), #BF0A30 calc(100%/13*12), #BF0A30 calc(100%/13*13), #FFFFFF calc(100%/13*13));
  position: relative;

  .blue-box {
    position: absolute;
    height: 53.85%;
    width: 40%;
    background: #002868;
    @for $j from 1 through 9 {
       @if $j % 2 == 0{
        .row-#{$j} {
          position: absolute;
          width: 66.8422%;
          height: 10%;
          left: 16.5789%;
          top: $j*9.2%;
          @for $i from 0 through 4 {
            .star-#{$i} {
              position: absolute;
              width: 10%;
              height: 100%;
              left: $i*22%;
              background: #FFFFFF;
              -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
              clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }
          }
        }
      }
      @else {
        .row-#{$j} {
          position: absolute;
          width: 83.422%;
          height: 10%;
          left: 8.289%;
          top: $j*9.2%;
          @for $i from 0 through 5 {
            .star-#{$i} {
              position: absolute;
              width: 10%;
              height: 100%;
              left: $i*18%;
              background: #FFFFFF;
              -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
              clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }
          }
        }
      }
    }
  }
}

.Alabama {
  //56.42
  background: linear-gradient(33deg, transparent 45%, #B10021 45%, #B10021 55%, transparent 55%), linear-gradient(147deg, #FFFFFF 45%, #B10021 45%, #B10021 55%, #FFFFFF 55%);
  position: relative;
}

.Alaska {
  @include flag(#061A4A);

  .star-1 {
    @include div-data(32.5833%, 15.8950%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-2 {
    @include div-data(39.2963%, 27.9321%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-3 {
    @include div-data(48.0926%, 33.3333%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-4 {
    @include div-data(58.0463%, 39.8148%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-5 {
    @include div-data(72.3981%, 38.7346%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-6 {
    @include div-data(79.4167%, 52.4691%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-7 {
    @include div-data(67.8425%, 57.4074%, 15px, 15px, $alaska-star);
    @include star;
  }

  .star-8 {
    @include div-data(9.8981%, 81.3272%, 25px, 25px, $alaska-star);
    @include star;
  }
}

.Arkansas {
  $ark-back: linear-gradient(33.65deg, $arkansas-shiraz 29.0811%, transparent 29.0811%) , linear-gradient(146.35deg, $arkansas-shiraz 29.0811%, transparent 29.0811%) , linear-gradient(213.65deg, $arkansas-shiraz 29.0811%, transparent 29.0811%) , linear-gradient(326.35deg, $arkansas-shiraz 29.0811%, transparent 29.0811%) , linear-gradient(33.65deg, $arkansas-midnight_blue 34.1009%, transparent 34.1009%) , linear-gradient(146.35deg, $arkansas-midnight_blue 34.1009%, transparent 34.1009%) , linear-gradient(213.65deg, $arkansas-midnight_blue 34.1009%, transparent 34.1009%) , linear-gradient(326.35deg, $arkansas-midnight_blue 34.1009%, transparent 34.1009%), #FFFFFF;
  @include flag($ark-back);
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: $arkansas-midnight_blue;
  line-height: 110px;
  font-size: 12px;

  .star-1 {
    @include div-data(25%, 46%, 15px, 15px, $arkansas-midnight_blue);
    @include star;
  }

  .star-2 {
    @include div-data(55%, 37%, 15px, 15px, $arkansas-midnight_blue);
    @include star;
  }

  .star-3 {
    @include div-data(55%, none, 15px, 15px, $arkansas-midnight_blue, 37%);
    @include star;
  }

  .star-4 {
    @include div-data(60%, 46%, 15px, 15px, $arkansas-midnight_blue);
    @include star;
    transform: rotate(180deg);
  }
  @for $i from 0 through 6 {
    .sstar-#{$i} {
      @if $i == 6 {
        transform: rotate(-45deg);
      }
      @else if $i > 0 {
        transform: rotate(-20deg);
      }
      @include div-data(10.5%+6*$i, 48%+6*$i, 8px, 8px, #FFFFFF);
      @include star;
    }

    .rstar-#{$i} {
      @if $i == 6 {
        transform: rotate(45deg);
      }
      @else if $i > 0 {
        transform: rotate(20deg);
      }
      @include div-data(10.5%+6*$i, none, 8px, 8px, #FFFFFF, 48%+6*$i);
      @include star;
    }

    .llstar-#{$i} {
      @if $i == 0 {
        transform: rotate(180deg);
      }
      @else {
        transform: rotate(205deg);
      }
      @include div-data(none, none, 8px, 8px, #FFFFFF, 48%+6*$i, 10.5%+6*$i);
      @include star;
    }

    .lrstar-#{$i} {
      transform: rotate(165deg);
      @include div-data(none, 48%+6*$i, 8px, 8px, #FFFFFF, none, 10.5%+6*$i);
      @include star;
    }
  }
}

.Arkansas::after {
  content: "ARKANSAS";
}

.California {
  @include flag(linear-gradient(to top, $california-old_glory_red calc(100%/6), #FFFFFF calc(100%/6)));
  font-family: "Droid sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: $california-seal;
  line-height: 170px;
  text-align: center;

  .star {
    @include div-data(calc(100%/5), calc(100%/6), 18px, 18px, $california-old_glory_red);
    @include star;
  }
}

.California::after {
  content: "CALIFORNIA REPUBLIC";
}

.Colorado {
  $colorado-back: radial-gradient(circle at 75.87px 60px, $colorado-gold calc(100%/6), transparent calc(100%/6)), radial-gradient(circle at 115px 60px, #FFFFFF calc(100%/6.6), transparent calc(100%/6.6)), radial-gradient(circle at 110px 60px, #FFFFFF calc(100%/7), transparent calc(100%/7)), radial-gradient(circle at 105px 60px, #FFFFFF calc(100%/7.4), transparent calc(100%/7.4)), radial-gradient(circle at 100px 60px, #FFFFFF calc(100%/7.8), transparent calc(100%/7.8)), radial-gradient(circle at 95px 60px, #FFFFFF calc(100%/8.3), transparent calc(100%/8.3)), radial-gradient(circle at 75.87px 60px, $colorado-red calc(100%/3), transparent calc(100%/3)), linear-gradient(to top, $colorado-blue calc(100%/3), #FFFFFF calc(100%/3), #FFFFFF calc(100%/3*2), $colorado-blue calc(100%/3*2)); //;
  @include flag($colorado-back);
}

.Connecticut {
  @include flag($connecticut-blue);
}

.Delaware {
  $del-back: linear-gradient(33.65deg, $delaware-green 35%, transparent 35%) , linear-gradient(146.35deg, $delaware-green 35%, transparent 35%) , linear-gradient(213.65deg, $delaware-green 35%, transparent 35%) , linear-gradient(326.35deg, $delaware-green 35%, transparent 35%) , linear-gradient(33.65deg, $delaware-yellow 34.1009%, $delaware-yellow 34.1009%) , linear-gradient(146.35deg, $delaware-yellow 34.1009%, $delaware-yellow 34.1009%) , linear-gradient(213.65deg, $delaware-yellow 34.1009%, $delaware-yellow 34.1009%) , linear-gradient(326.35deg, $delaware-yellow 34.1009%, $delaware-yellow 34.1009%);
  @include flag($del-back);
  text-align: center;
  font-family: serif;
  font-weight: bold;
  line-height: 215px;
  color: #FFFFFF;
  font-size: 8px;
}

.Delaware::before {
  content: "DECEMBER 7, 1787";
}

.Florida {
  $florida-back: radial-gradient(circle at 90px 60px, #FFBA00 calc(100%/4), transparent calc(100%/4)), radial-gradient(circle at 90px 60px, #B10021 calc(100%/3.1), transparent calc(100%/3.1)), radial-gradient(circle at 90px 60px, #FFBA00 calc(100%/3), transparent calc(100%/3)), linear-gradient(33deg, transparent 45%, #B10021 45%, #B10021 55%, transparent 55%), linear-gradient(147deg, #FFFFFF 45%, #B10021 45%, #B10021 55%, #FFFFFF 55%);
  @include flag($florida-back);
}

.Georgia {
  @include flag(linear-gradient(to top, $georgia-red calc(100%/3), white calc(100%/3), white calc(100%/3*2), $georgia-red calc(100%/3*2)));
}

.Georgia::after {
  position: absolute;
  content: "IN GOD WE TRUST";
  box-sizing: border-box;
  color: gold;
  font-size: 4px;
  text-align: center;
  line-height: 80px;
  background: #0039A6;
  height: 80px;
  width: 70px;
  left: 0;
  padding-top: 16px;
}

.Hawaii {
  @include flag(repeating-linear-gradient(to top, $hawaii-red, $hawaii-red calc(120px/8), white calc(120px/8), white calc(120px/8*2), $hawaii-blue calc(120px/8*2), $hawaii-blue calc(120px/8*3), $hawaii-red calc(120px/8*3)));
}

.Hawaii::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 44%;
  height: 50%;
  background: linear-gradient(to right, transparent 45%, $hawaii-red 45%, $hawaii-red 55%, transparent 55%), linear-gradient(to bottom, transparent 43%, $hawaii-red 43%, $hawaii-red 57%, transparent 57%), linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 60%), linear-gradient(to bottom, transparent 38%, white 38%, white 62%, transparent 62%), linear-gradient(37deg, transparent 47%, $hawaii-red 47%, $hawaii-red 50%, transparent 50%), linear-gradient(144deg, transparent 47%, $hawaii-red 47%, $hawaii-red 50%, transparent 50%), linear-gradient(37deg, transparent 45%, white 45%, white 55%, transparent 55%), linear-gradient(144deg, transparent 45%, white 45%, white 55%, transparent 55%), $hawaii-blue; //25
}

.NewMexico {
  $newmexico-back: radial-gradient(circle at center, $newmexico-yellow 12%, $newmexico-red 12%, $newmexico-red 16%, transparent 16%), linear-gradient(to top, $newmexico-yellow 20%, transparent 20%, transparent 80%, $newmexico-yellow 80%), linear-gradient(to left, $newmexico-yellow 25%, transparent 25%, transparent 75%, $newmexico-yellow 75%), linear-gradient(to left, transparent 47%, $newmexico-red 47%, $newmexico-red 49%, transparent 49%, transparent 51%, $newmexico-red 51%, $newmexico-red 53%, transparent 53%), linear-gradient(to top, transparent 45%, $newmexico-red 45%, $newmexico-red 49%, transparent 49%, transparent 51%, $newmexico-red 51%, $newmexico-red 55%, transparent 55%), linear-gradient(to top, $newmexico-yellow 25%, transparent 25%, transparent 75%, $newmexico-yellow 75%), linear-gradient(to left, $newmexico-yellow 30%, transparent 30%, transparent 70%, $newmexico-yellow 70%), linear-gradient(to left, transparent 44.5%, $newmexico-red 44.5%, $newmexico-red 46%, transparent 46%, transparent 54%, $newmexico-red 54%, $newmexico-red 55.5%, transparent 55.5%), linear-gradient(to top, transparent 40%, $newmexico-red 40%, $newmexico-red 43%, transparent 43%, transparent 57%, $newmexico-red 57%, $newmexico-red 60%, transparent 60%), linear-gradient(to left, $newmexico-yellow 25%, transparent 25%, transparent 75%, $newmexico-yellow 75%), $newmexico-yellow;
  @include flag($newmexico-back);
}

.Texas {
  @include flag(linear-gradient(to top, $texas-dark_red 50%, white 50%));
}

.Texas::before {
  position: absolute;
  left: 0;
  content: "★";
  font-size: 60px;
  width: calc(100%/3);
  height: 100%;
  background: $texas-royal_blue;
  color: white;
  text-align: center;
  line-height: 110px;
}
